[submodule "submodule/linux"]
	path = submodule/linux
	url = https://github.com/pipcet/linux
	branch = pearl
[submodule "submodule/m1n1"]
	path = submodule/m1n1
	url = https://github.com/pipcet/m1n1
	branch = pearl
[submodule "submodule/busybox"]
	path = submodule/busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "submodule/kexec-tools"]
	path = submodule/kexec-tools
	url = https://github.com/pipcet/kexec-tools
	branch = pearl
[submodule "submodule/debootstrap"]
	path = submodule/debootstrap
	url = https://github.com/pipcet/debootstrap
[submodule "submodule/memtool"]
	path = submodule/memtool
	url = https://github.com/pipcet/memtool
[submodule "submodule/u-boot"]
	path = submodule/u-boot
	url = https://github.com/pipcet/uboot/
	branch = pearl
[submodule "submodule/grub"]
	path = submodule/grub
	url = https://github.com/pipcet/grub
	branch = pearl
[submodule "submodule/barebox"]
	path = submodule/barebox
	url = https://github.com/pipcet/barebox
	branch = pearl
[submodule "toolchain/gcc/gcc"]
	path = toolchain/gcc/gcc
	url = https://github.com/pipcet/gcc
	branch = pearl
[submodule "userspace/glibc/glibc"]
	path = userspace/glibc/glibc
	url = https://github.com/pipcet/glibc
	branch = pearl
[submodule "linux/linux"]
	path = linux/linux
	url = https://github.com/pipcet/linux
	branch = pearl
[submodule "userspace/kexec-tools/kexec-tools"]
	path = userspace/kexec-tools/kexec-tools
	url = https://github.com/horms/kexec-tools
[submodule "toolchain/binutils-gdb/binutils-gdb"]
	path = toolchain/binutils-gdb/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = pearl
[submodule "userspace/busybox/busybox"]
	path = userspace/busybox/busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "userspace/emacs/emacs"]
	path = userspace/emacs/emacs
	url = https://github.com/pipcet/emacs
	branch = pearl
[submodule "userspace/ncurses/ncurses"]
	path = userspace/ncurses/ncurses
	url = https://github.com/pipcet/ncurses
	branch = pearl
[submodule "userspace/cryptsetup/cryptsetup"]
	path = userspace/cryptsetup/cryptsetup
	url = https://gitlab.com/cryptsetup/cryptsetup
