[submodule "submodule/linux"]
	path = submodule/linux
	url = https://github.com/pipcet/linux
	branch = pearl
[submodule "submodule/m1n1"]
	path = submodule/m1n1
	url = https://github.com/pipcet/m1n1
	branch = pearl
[submodule "submodule/busybox"]
	path = submodule/busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "submodule/kexec-tools"]
	path = submodule/kexec-tools
	url = https://github.com/pipcet/kexec-tools
	branch = pearl
[submodule "submodule/debootstrap"]
	path = submodule/debootstrap
	url = https://github.com/pipcet/debootstrap
[submodule "submodule/memtool"]
	path = submodule/memtool
	url = https://github.com/pipcet/memtool
[submodule "submodule/u-boot"]
	path = submodule/u-boot
	url = https://github.com/kettenis/u-boot/
	branch = apple-m1-m1n1-nvme
