[submodule "bootloaders/barebox/barebox"]
	path = bootloaders/barebox/barebox
	url = https://github.com/pipcet/barebox
	branch = pearl
[submodule "bootloaders/grub/grub"]
	path = bootloaders/grub/grub
	url = https://github.com/pipcet/grub
	branch = pearl
[submodule "bootloaders/m1n1/m1n1"]
	path = bootloaders/m1n1/m1n1
	url = https://github.com/pipcet/m1n1
	branch = pearl
[submodule "bootloaders/u-boot/u-boot"]
	path = bootloaders/u-boot/u-boot
	url = https://github.com/pipcet/uboot
	branch = pearl
[submodule "linux/linux"]
	path = linux/linux
	url = https://github.com/pipcet/linux
	branch = pearl
[submodule "toolchain/binutils-gdb/binutils-gdb"]
	path = toolchain/binutils-gdb/binutils-gdb
	url = https://github.com/pipcet/binutils-gdb
	branch = pearl
[submodule "toolchain/gcc/gcc"]
	path = toolchain/gcc/gcc
	url = https://github.com/pipcet/gcc
	branch = pearl
[submodule "userspace/IPC-Run/IPC-Run"]
	path = userspace/IPC-Run/IPC-Run
	url = https://github.com/toddr/IPC-Run
[submodule "userspace/busybox/busybox"]
	path = userspace/busybox/busybox
	url = https://github.com/pipcet/busybox
	branch = pearl
[submodule "userspace/cryptsetup/cryptsetup"]
	path = userspace/cryptsetup/cryptsetup
	url = https://gitlab.com/cryptsetup/cryptsetup.git/
[submodule "userspace/dtc/dtc"]
	path = userspace/dtc/dtc
	url = https://github.com/pipcet/dtc
[submodule "userspace/emacs/emacs"]
	path = userspace/emacs/emacs
	url = https://github.com/pipcet/emacs
	branch = pearl
[submodule "userspace/glibc/glibc"]
	path = userspace/glibc/glibc
	url = https://github.com/pipcet/glibc
	branch = pearl
[submodule "userspace/json-c/json-c"]
	path = userspace/json-c/json-c
	url = https://github.com/json-c/json-c
[submodule "userspace/kexec-tools/kexec-tools"]
	path = userspace/kexec-tools/kexec-tools
	url = https://github.com/horms/kexec-tools
[submodule "userspace/libaio/libaio"]
	path = userspace/libaio/libaio
	url = https://pagure.io/libaio.git
[submodule "userspace/libnl/libnl"]
	path = userspace/libnl/libnl
	url = https://github.com/tgraf/libnl.git
[submodule "userspace/lvm2/lvm2"]
	path = userspace/lvm2/lvm2
	url = https://github.com/pipcet/lvm2
	branch = pearl
[submodule "userspace/memtool/memtool"]
	path = userspace/memtool/memtool
	url = https://github.com/pipcet/memtool
	branch = pearl
[submodule "userspace/ncurses/ncurses"]
	path = userspace/ncurses/ncurses
	url = https://github.com/pipcet/ncurses
	branch = pearl
[submodule "userspace/nvme-cli/nvme-cli"]
	path = userspace/nvme-cli/nvme-cli
	url = https://github.com/linux-nvme/nvme-cli
[submodule "userspace/openssl/openssl"]
	path = userspace/openssl/openssl
	url = https://github.com/openssl/openssl
[submodule "userspace/perl/perl"]
	path = userspace/perl/perl
	url = https://github.com/pipcet/perl
	branch = pearl
[submodule "userspace/popt/popt"]
	path = userspace/popt/popt
	url = https://github.com/rpm-software-management/popt
[submodule "userspace/screen/screen"]
	path = userspace/screen/screen
	url = https://github.com/pipcet/screen
[submodule "userspace/slurp/slurp"]
	path = userspace/slurp/slurp
	url = https://github.com/perhunter/slurp
[submodule "userspace/util-linux/util-linux"]
	path = userspace/util-linux/util-linux
	url = https://github.com/pipcet/util-linux
	branch = pearl
[submodule "userspace/wpa/wpa"]
	path = userspace/wpa/wpa
	url = https://github.com/pipcet/wpa
	branch = pearl
[submodule "userspace/dialog/dialog"]
	path = userspace/dialog/dialog
	url = https://github.com/ThomasDickey/dialog-snapshots
[submodule "userspace/procps/procps"]
	path = userspace/procps/procps
	url = https://github.com/pipcet/procps
[submodule "debian/debootstrap/debootstrap"]
	path = debian/debootstrap/debootstrap
	url = https://github.com/pipcet/debootstrap
	branch = pearl
[submodule "userspace/sys-mmap/sys-mmap"]
	path = userspace/sys-mmap/sys-mmap
	url = https://github.com/toddr/Sys-Mmap.git
