name: modules
on:
  workflow_dispatch:
  push:
    branches: [ main, dcp, update ]
  pull_request:
    branches: [ main, dcp, update ]
jobs:
  all:
    name: all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set env variables
      uses: ./g/github/env/
    - run: sudo apt-get update
    - run: sudo apt-get install autopoint
    - run: sudo apt-get install lzop
    - run: sudo apt-get install libgmp-dev libmpfr-dev libmpc-dev
    - run: sudo apt-get install libipc-run-perl libfile-slurp-perl
    - run: sudo apt-get install qemu-user qemu-user-static binfmt-support
    - run: sudo apt-get install gettext
    - run: sudo apt-get install xz-utils
    - run: sudo apt-get install device-tree-compiler
    - run: sudo apt-get install libtool-bin
    - run: make -j13 build/binutils-gdb/done/install
    - run: make -j13 build/linux/done/headers/install
    - run: make -j13 build/glibc/done/headers/install
    - run: make -j13 build/gcc/done/gcc/install
    - run: rm -rf build/gcc/gcc
    - run: make -j13 build/toolchain.tar
    - run: make -j13 build/glibc/done/glibc/install
    - run: make -j13 build/gcc/done/libgcc/install
    - run: rm -rf build/gcc/libgcc
    - run: make -j13 build/ncurses/done/install
    - run: make -j13 build/dialog/done/install
    - run: make -j13 build/screen/done/install
    - run: make -j13 build/procps/done/install
    - run: make -j13 build/busybox/done/install
    - run: make -j13 build/kexec-tools/done/install
    - run: make -j13 build/emacs/done/cross/install
    - run: make -j13 build/perl/done/install
    - run: make -j13 build/IPC-Run/done/install
    - run: make -j13 build/slurp/done/install
    - run: make -j13 build/libnl/done/install
    - run: make -j13 build/memtool/done/install
    - run: make -j13 build/libuuid/done/install
    - run: make -j13 build/json-c/done/install
    - run: make -j13 build/popt/done/install
    - run: make -j13 build/libblkid/done/install
    - run: make -j13 build/libaio/done/install
    - run: make -j13 build/lvm2/done/install
    - run: make -j13 build/openssl/done/install
    - run: make -j13 build/cryptsetup/done/install
    - run: make -j13 build/dtc/done/install
    - run: make -j13 build/wpa_supplicant/done/install
    - run: make -j13 build/m1n1/done/install
    - run: make -j13 build/barebox/done/install
    - run: make -j13 build/u-boot/done/install
    - run: make -j13 build/grub/done/install
    - run: make -j13 build/userspace/done/install
    - run: make -j13 build/userspace.tar
    - run: make -j13 build/linux/pearl.image
    - run: make -j13 build/linux/pearl.image.macho
    - run: rm -rf build/linux/linux
    - run: rm -rf build/linux/pearl
    - run: rm -rf build/linux/stage2
    - run: make -j13 build/userspace.tar{artifact}
    - run: make -j13 build/userspace.tar.zstd{daily}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: make -j13 build/toolchain.tar{artifact}
    - run: make -j13 build/toolchain.tar.zstd{daily}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: make -j13 build/linux/pearl.image{artifact}
    - run: make -j13 build/linux/pearl.image.zstd{daily}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: make -j13 build/linux/pearl.image.macho.zstd{daily}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: make -j13 build/pearl.pl{artifact}
