name: random
on:
  workflow_dispatch:
  push:
    branches: [ main, restructure ]
  pull_request:
    branches: [ main, restructure ]
jobs:
  random:
    name: random
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: false
    - name: Set env variables
      uses: ./g/github/env/
    - run: sudo apt-get install autopoint
    - run: sudo apt-get install lzop
    - run: sudo apt-get install libgmp-dev libmpfr-dev libmpc-dev
    - run: sudo apt-get install libipc-run-perl
    - run: sudo apt-get install qemu-user qemu-user-static binfmt-support
    - run: sudo apt-get install gettext
    - run: sudo apt-get install xz-utils
    - run: sudo apt-get install device-tree-compiler
    - run: sudo apt-get install libtool-bin
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
    - run: make -j13 random-target
